code project/Debug/
code project/warehouse manage system.dep
code project/settings/warehouse manage system.wsdt
code project/settings/warehouse manage system.Debug.cspy.ps1
code project/settings/warehouse manage system.Debug.general.xcl
code project/settings/warehouse manage system.Debug.cspy.bat
code project/Release/
code project/settings/
